<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Exploring jQuery Selectors</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>


<!--
  <form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
 -->

 <nav class="navbar navbar-default">
  <div class="container-fluid">

      <a class="navbar-brand" href="#">Logo</a>
      <!-- <em>Name of FactChecker</em> -->
      <!-- <h4 class="nav-brand">name</h4> -->
    <a class="navbar-brand">Name</a>
    <!-- Collect the nav links, forms, and other content for toggling -->


      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li><a href="#">SignUP</a></li>

      </ul>
  </div><!-- /.container-fluid -->
</nav>

  <h4 class="span12">On the Internet, anyone can write the news.</h4>
  <p>[NAME] uses crowdsourcing to show readers what news is real.</p>
  <h4 class="span12">How does it work?</h4>
  <div class="howto-list">
    <ul>
      <li>Anyone can be a citizen fact checker.</li>
      <li>Select an article, flag issues, and provide citations.</li>
      <li>Many eyes work together to prevent the flow of misinformation.</li>
    </ul>
  </div>

<a href="#">Get started</a>

<h4 class="span12">How to spot a fake news article:</h4>
<ul>
  <!-- not finalized copy:
  Look for unusual URLs (example: abc.com versus abc.com.co)
  Look for author of the article. If there isn’t one, that can be a red flag
  Is it a known unreliable source?
  Consider relevant sources in the article - are they authoritative or not?
  Double check the date
  Keep in mind satire is a thing
 -->
</ul>

<div class="about">
<h4 class="span12">Who are we?</h4>
  <p>[NAME] is an open source project created by volunteers. We are concerned
  about the proliferation of fake news and its impact on the world.
  <a href="#">Anyone can contribute.</a>
  </p>
  <div>



  <h4 class="span12">Become a Citizen Fact Checker</h4>
  <h4 class="span12" >Report Fake News around the web</h4>






  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</body>
</html>
